@if (Model != null)
{
    var i = 0;
    <div class="HomeImageDiv">
        @foreach (var item in Model)
        {
            if (i++ < 6)
            {
                break;
            }
            <div class="photo_Block">
                <div class="img">
                    <a href="#"><img src="@item" /></a>
                </div>
                <div class="photo_Block_text">
                    <a href="#" style="float: left;">评论</a>
                </div>
            </div>
        }
    </div>
}