<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <title>登陆界面</title>
    <link rel="stylesheet" href="~/Content/Login/css/style.css" />
    <link href="~/Content/CSS/onepage-scroll.css" rel="stylesheet" />
    <script type="text/javascript" src="~/Content/Login/Js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="~/Content/Login/Js/jquery.particleground.min.js"></script>
    <script type="text/javascript" src="~/Content/Login/Js/demo.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.onepage-scroll.min.js"></script>
    @RenderSection("ForgetRegisterStyle", required: false)
    <style>
        table {
            margin-left: 300px;
        }

            table tr td {
                padding-bottom: 15px;
                width: 300px;
                height: 40px;
                line-height: 38px;
            }

        .Input_pwd {
            width: 100%;
            height: 40px;
            background-image: url(../../Images/login_pwd.png);
            background-repeat: no-repeat;
            padding-left: 35px;
            color: #000 !important;
            background-color: #FFF;
        }

        .input_LoginID {
            width: 100%;
            height: 40px;
            background-image: url('../../Images/login_name.png');
            background-repeat: no-repeat;
            padding-left: 35px;
            color: #000 !important;
            background-color: #FFF;
        }
        
        .Input_Register {
            width: 100%;height: 40px;padding-left: 35px;color:#000; background-color:#fff;font-size:16px;
            background-repeat:no-repeat
        }
    </style>
</head>

<body>
    <div align="center" id="particles">
        <div class="intro" style="padding:0px;">
            @RenderBody()
        </div>
    </div>
    <script src="~/Scripts/jquery.metadata.js"></script>
    <script>
        jQuery.extend(jQuery.validator.messages, {
            required: "字段不能为空",
            remote: "请修正该字段",
            email: "请输入正确格式的电子邮件",
            date: "请输入合法的日期",
            number: "该字段只能为数字",
            equalTo: "两次输入不一样",
            maxlength: jQuery.validator.format("请输入一个长度最多是 {0} 的字符串"),
            minlength: jQuery.validator.format("请输入一个长度最少是 {0} 的字符串")
        });
    </script>
</body>
</html>

