<div class="frame_main">
    <ul>
        <li class="frame_title_line">
            <div class="frame_title">查看 @ViewBag.Title 评论</div>
        </li>

        <li class="detaile_line">
            <table>
                <tbody>
                    <tr class="td_head" height="45">
                        <td style="width:20%;">评论人</td>
                        <td style="width:40%;">评论时间</td>
                        <td style="width:40%;">评论内容</td>
                    </tr>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Students.Name</td>
                                <td>@item.Time.ToShortDateString()</td>
                                <td>@item.Contents</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </li>
    </ul>
</div>