<div class="frame_main">
    <ul>
        <li class="frame_title_line">
            <div class="frame_title no_select">@ViewBag.MyTitle</div>
        </li>
        <li class="detaile_line">
            <ul class="detaile_ul">
                @if (Model != null)
                {
                    var i = 0;
                    if (i++ < 3)
                    {
                        foreach (var item in Model)
                        {
                            <li>
                                <span class="info" onclick="window.open('@Url.Action("Details_Question", "Interaction", new { id = item.ID })', '', 'height=500,width=820,status=1,toolbar=no,menubar=no,location=no,scrollbars=yes,left=200,top=100,resizable=yes');">@item.Title</span>
                                <span class="time"><a href="#">删除</a>@item.Time.ToShortDateString()</span>
                            </li>
                        }
                    }
                }
            </ul>
        </li>
    </ul>
</div>