@{
    ViewBag.Title = "InteractionIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
    $('.title_navigate a:eq(4) div').addClass('logo_left_title_select');
    </script>
}
<div class="navigation_centre">
    <div class="navigation_centre_left">
        <div>照片管理</div>
        <div>分享照片</div>
        <div>文章管理</div>
        <div>分享文章</div>
        <div>我的提问</div>
    </div>
    <div class="navigation_centre_right">2</div>
</div>