@model IEnumerable<MvcGraduate.Models.Honour>
@if (Model != null)
{
    <ul class="ul_style2" style="height:250px;overflow-y:scroll;width:290px;">
    @foreach (var item in Model)
    {
        var time=((DateTime)item.Times).ToShortDateString();
        <li class="on">
            <span>@time</span>  <a href="javascript:;">@item.Details</a>
        </li>
    }
    </ul>
}