@model MvcGraduate.Models.Share_Article

<div class="share_art">
    <div class="my_art_detailed">
        <div class="line1">[2014-09-29]<span>分享</span></div>
        <div class="line2">1949年10月1日，是新中国成立的纪念日。这里应该说明一点，在许多人的印象中，1949年的10月1日在北京天安门广场举行了有数十万军民参加的中华人民共和国开国大典。其实，人...</div>
        <div class="line3">
            <span>
                <a href="javascript:void();" onclick="window.open('myxxdt/wzgl_detail.php?id=48','','height=500,width=820,status=1,toolbar=no,menubar=no,location=no,scrollbars=yes,left=200,top=100,resizable=yes');" data-article-id="48">查看详细</a>|
                <a href="javascript:void();">评论</a>|
                <a href="javascript:void();">分享</a>
            </span>
        </div>
    </div>

    <div class="my_art_detailed">
        <div class="line1">
            [2014-08-06]<span>笑猫日记—中秋月儿圆</span>
        </div>
        <div class="line2">&nbsp; 当东方天边露出鱼肚白时，我——闻名遐迩的笑猫已在楠木林里散步了。 清凉的秋风徐徐吹来，好舒服。一簇簇菊花绽开了灿烂的笑容；几片树叶似起舞的彩蝶翩然飘落。 &nbsp;&nbsp; “过不了多久...</div>
        <div class="line3">
            <span>
                <a href="javascript:void();" onclick="window.open('myxxdt/wzgl_detail.php?id=12','','height=500,width=820,status=1,toolbar=no,menubar=no,location=no,scrollbars=yes,left=200,top=100,resizable=yes');" data-article-id="12">查看详细</a>|
                <a href="javascript:void();">评论</a>|
                <a href="javascript:void();">分享</a>
            </span>
        </div>
    </div>
</div>