@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
}

<div class="main_right">
    <div class="main_right_left">
        <div class="main_right_left_1">
            <div class="courent">
                <ul>
                    <li>学生统计</li>
                </ul>
                <ul class="courent_left">
                    <li>总人数：30</li>
                    <li>男生：25</li>
                    <li>女生：5</li>
                </ul>
            </div>
        </div>
        <div class="main_right_left_2">
            <div class="courent">
                <ul>
                    <li>分数统计</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main_right_right">
        <div class="main_right_right_1">
            <div class="courent">
                <ul>
                    <li>教师统计</li>
                </ul>
            </div>
        </div>
        <div class="main_right_right_2">
            <div class="courent">
                <ul>
                    <li>在线时长</li>
                </ul>
            </div>
        </div>
    </div>
</div>