@{
    ViewBag.Title = "Manageer";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
}

<div class="main_right">
    <div class="main_right_left">
        <div class="main_right_left_1">
            <div class="courent">
                <ul>
                    <li>课程表</li>
                </ul>
                <ul class="courent_left">
                    <li class="courent_left_morning"><a href="#">上午</a></li>
                    <li class="courent_left_after" style="background-image:url(../Images/am_pmbg2.png);background-repeat:no-repeat;padding:7px 20px;"><a href="#">下午</a></li>
                </ul>
            </div>

        </div>
        <div class="main_right_left_2">
            <div class="courent">
                <ul>
                    <li>最新问题</li>
                </ul>
            </div>

        </div>
    </div>
    <div class="main_right_right">
        <div class="main_right_right_1">
            <div class="courent">
                <ul>
                    <li>最新家长分享</li>
                </ul>
            </div>

        </div>
        <div class="main_right_right_2">
            <div class="courent">
                <ul>
                    <li>最新作业</li>
                </ul>
            </div>

        </div>
    </div>
</div>
