<div class="common_foot">
    <img src="~/Images/link.png" width="115" height="40" id="link" />
    <div class="common_foot_link">
        <ul>
            <li><a href="#">中华人民共和国教育部</a></li>
            <li><a href="#">教育部基础教育一司</a></li>
            <li><a href="#">教育部基础教育二司</a></li>
            <li><a href="#">教育版教育工作司</a></li>
            <li><a href="#">中国教育信息化网</a></li>
            <li><a href="#">中国教育在线</a></li>
            <li><a href="#">世界教育信息网</a></li>
            <li><a href="#">中国教育网络电视台</a></li>
            <li><a href="#">国家留学网</a></li>
            <li><a href="#">国家基础教育资源网</a></li>
            <li><a href="#">科学育儿网</a></li>
            <li><a href="#">中国教育新闻网</a></li>
            <li><a href="#">中华人民共和国教育部高等</a></li>
        </ul>
    </div>
</div>