<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    @Styles.Render("~/Content/CSS/css")
</head>
<body>
    <div>
        <div id="logo">
            <div class="logo_img">
                <img src="~/Images/page_logo.png" />
                <img src="~/Images/leadlogo.png" />
            </div>
            <div class="logo_login">
                <img src="~/Images/logout.png" />
                <img src="~/Images/login.png" />
            </div>
        </div>
        <div id="main">
            <div class="main_left">
                <ul class="title">
                    <li class="cour" style="background-image:url(../Images/data1.png);background-repeat:no-repeat;background-position:22% 50%;"><a href="#">数据统计</a></li>
                    <li style="background-image:url(../Images/1.png);background-repeat:no-repeat;background-position:14% 50%;"><a href="#">教师管理</a></li>
                </ul>
            </div>
            @RenderBody()
        </div>
        @RenderPage("~/Views/Shared/FriendlyLink.cshtml")
        <div id="foot">
            <p>北京通达信科科技有限公司</p>
            地址： 北京市海淀区紫竹院路81号北方地产大厦1608室&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话： 010-51905641
        </div>
    </div>
</body>
</html>

