/*老师或者班干的信息和图片*/
.frame_photo_div {
    width: 870px;
    overflow: hidden;
}

.frame_photo_block {
    position: relative;
    float: left;
    width: 130px;
    height: 130px;
    margin: 0 30px 45px 50px;
}

.PeopleDetails .edu_img {
    position: relative;
    z-index: 5;
    width: inherit;
    height: inherit;
    overflow: hidden;
    width: 130px;
    height: 130px;
}

.PeopleDetails .des {
    position: relative;
    width: 130px;
    height: 130px;
    top: -130px;
    left: 0px;
    z-index: 6;
    overflow: hidden;
    cursor: pointer;
}

.PeopleDetails .des2 {
    position: absolute;
    width: 130px;
    height: 130px;
    top: -130px;
    left: 0px;
    background: url(../../Images/head_bg2.png);
    background-repeat: repeat;
}

.PeopleDetails .course {
    position: absolute;
    top: 103px;
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    background: url(../../Images/photo_cover1.png);
    background-repeat: repeat;
    color: #FFFFFF;
    height: 27px;
    width: 130px;
    overflow: hidden;
}
/*课程资料*/
.info {
    position: relative;
    float: left;
    margin-left: 15px;
    cursor: pointer;
}

.time {
    position: relative;
    float: right;
}

.detaile_ul {
    width: 760px;
    font-size:16px;
    margin-left: 50px;
    padding-left:0px;
}

    .detaile_ul li {
        text-align: left;
        width: 760px;
        border-bottom: #7c7c7c dashed 1px;
        background: url(../../Images/li_point.png) no-repeat;
        height: 45px;
        background-position: 0 23px;
        font-size: 15px;
        color: #636363;
        vertical-align: bottom;
        overflow: hidden;
    }

        .detaile_ul li span {
            margin: 20px 0 0 12px;
        }
/*资料结束*/
