@{
    ViewBag.Title = "StudyIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    <script>
        $('.title_navigate a:eq(1) div').addClass('logo_left_title_select');
        $.post(
            "@Url.Action("GetHomeWork", "Study")",
            { "id": 1208203301 },
            function (data) {
                $('#Js_Study_RightBigDiv').html(data);
            });
        //填充分享的文章
        function GetHomeWork() {
            $.post(
                "@Url.Action("GetHomeWork", "Study")",
            { "id": 1208203301 },
            function (data) {
                $('#Js_Study_RightBigDiv').html(data);
            });
        }
        function GetTimeTable() {
            $.post(
                "@Url.Action("GetTimeTable", "Study")",
                    { "id": 1208203301 },
                    function (data) {
                        $('#Js_Study_RightBigDiv').html(data);
                    });
        }
        function GetMyVacation() {
            $.post(
                "@Url.Action("GetMyVacation", "Study")",
                { "id": 1208203301 },
                function (data) {
                    $('#Js_Study_RightBigDiv').html(data);
                });
        }
    </script>
}
<div class="navigation_centre">
    <div class="navigation_centre_left">
        <div class="navigation_menu_bg" onclick="GetHomeWork()">家庭作业</div>
        <div onclick="GetTimeTable()">我的课程</div>
        <div onclick="GetMyVacation()">我的请假</div>
        <div>成绩查询</div>
        <div>学分查询</div>
        <div>奖惩信息</div>
    </div>
    <div class="navigation_centre_right" id="Js_Study_RightBigDiv">

    </div>
</div>
